@import "colors";

// HTML
.syntax--html,
.syntax--xml{
  .syntax--tag {
    color: @blue;

    &.syntax--sgml{
      color: @light-gray;
    }
  }

  .syntax--entity {
    &.syntax--attribute-name{
      color: @attribute-name;

      + .syntax--string{
        color: @green;
      }
    }

    &.syntax--constant{
      color: @attribute-name;
    }
  }

  .syntax--comment {
    color: @light-gray;
    font-style: italic;
  }
}
