.syntax--php{
  &.syntax--constant{
    color: @dark;

    &.syntax--numeric,
    &.syntax--language{
      color: @attribute-name;
    }
  }

  &.syntax--storage{
    color: @blue;
  }

  &.syntax--punctuation{
    &.syntax--embedded{
      &.syntax--begin,
      &.syntax--end{
        color: @red;
      }
    }

    &.syntax--definition{
      &.syntax--variable{
        color: @variable;
      }
    }
  }

  &.syntax--support{
    &.syntax--basic_functions{
      color: @builtin;
    }

    &.syntax--function{
      color: @variable;
    }

    &.syntax--construct{
      color: @blue;
    }
  }

  &.syntax--variable{
    color: @variable;

    &.syntax--property{
      color: @dark;
    }
  }

  &.syntax--string{
    color: @red;

    &.syntax--operator{
      color: @dark;
    }
  }

  &.syntax--keyword{
    &.syntax--operator{
      color: @operator;
    }

    &.syntax--control{
      color: @blue;
    }
  }

  &.syntax--type{
    &.syntax--function{
      color: @blue;
    }
  }

  &.syntax--entity{
    &.syntax--function{
      color: @teal;
    }
  }

  &.syntax--function-call{
    color: @teal;
  }
}
